In [2]:
import pandas as pd
import matplotlib.pyplot as plt
from IPython.display import display

In [3]:

# Load the data
data = pd.read_csv('./data/train_1/train_1.csv')
display(data)

,Page,2015-07-01,2015-07-02,2015-07-03,2015-07-04,2015-07-05,2015-07-06,2015-07-07,2015-07-08,2015-07-09,...,2016-12-22,2016-12-23,2016-12-24,2016-12-25,2016-12-26,2016-12-27,2016-12-28,2016-12-29,2016-12-30,2016-12-31
0,2NE1_zh.wikipedia.org_all-access_spider,18.0,11.0,5.0,13.0,14.0,9.0,9.0,22.0,26.0,...,32.0,63.0,15.0,26.0,14.0,20.0,22.0,19.0,18.0,20.0
1,2PM_zh.wikipedia.org_all-access_spider,11.0,14.0,15.0,18.0,11.0,13.0,22.0,11.0,10.0,...,17.0,42.0,28.0,15.0,9.0,30.0,52.0,45.0,26.0,20.0
2,3C_zh.wikipedia.org_all-access_spider,1.0,0.0,1.0,1.0,0.0,4.0,0.0,3.0,4.0,...,3.0,1.0,1.0,7.0,4.0,4.0,6.0,3.0,4.0,17.0
3,4minute_zh.wikipedia.org_all-access_spider,35.0,13.0,10.0,94.0,4.0,26.0,14.0,9.0,11.0,...,32.0,10.0,26.0,27.0,16.0,11.0,17.0,19.0,10.0,11.0
4,52_Hz_I_Love_You_zh.wikipedia.org_all-access_s...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,48.0,9.0,25.0,13.0,3.0,11.0,27.0,13.0,36.0,10.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145058,Underworld_(serie_de_películas)_es.wikipedia.o...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,13.0,12.0,13.0,3.0,5.0,10.0
145059,Resident_Evil:_Capítulo_Final_es.wikipedia.org...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
145060,Enamorándome_de_Ramón_es.wikipedia.org_all-acc...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
145061,Hasta_el_último_hombre_es.wikipedia.org_all-ac...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
145062,Francisco_el_matemático_(serie_de_televisión_d...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
# print the dimensions of the dataset
print(data.shape)

(145063, 551)

In [5]:
# Create a mask for rows where splitting by '_' doesn't yield exactly four parts
mask = data['Page'].str.split('_').apply(lambda x: len(x) != 4)

# Filter and display those rows
problem_rows = data[mask]
display(problem_rows)

,Page,2015-07-01,2015-07-02,2015-07-03,2015-07-04,2015-07-05,2015-07-06,2015-07-07,2015-07-08,2015-07-09,...,2016-12-22,2016-12-23,2016-12-24,2016-12-25,2016-12-26,2016-12-27,2016-12-28,2016-12-29,2016-12-30,2016-12-31
4,52_Hz_I_Love_You_zh.wikipedia.org_all-access_s...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,48.0,9.0,25.0,13.0,3.0,11.0,27.0,13.0,36.0,10.0
11,Ahq_e-Sports_Club_zh.wikipedia.org_all-access_...,2.0,1.0,4.0,4.0,2.0,6.0,3.0,6.0,9.0,...,8.0,17.0,18.0,48.0,19.0,14.0,9.0,23.0,11.0,7.0
12,All_your_base_are_belong_to_us_zh.wikipedia.or...,2.0,5.0,5.0,1.0,3.0,3.0,5.0,3.0,17.0,...,5.0,4.0,4.0,5.0,2.0,9.0,7.0,4.0,5.0,0.0
17,Apple_II_zh.wikipedia.org_all-access_spider,4.0,8.0,4.0,9.0,7.0,4.0,15.0,9.0,17.0,...,5.0,14.0,8.0,11.0,8.0,24.0,10.0,15.0,12.0,11.0
18,As_One_zh.wikipedia.org_all-access_spider,13.0,7.0,14.0,11.0,20.0,5.0,32.0,11.0,6.0,...,37.0,12.0,7.0,11.0,13.0,17.0,13.0,12.0,9.0,8.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145058,Underworld_(serie_de_películas)_es.wikipedia.o...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,13.0,12.0,13.0,3.0,5.0,10.0
145059,Resident_Evil:_Capítulo_Final_es.wikipedia.org...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
145060,Enamorándome_de_Ramón_es.wikipedia.org_all-acc...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
145061,Hasta_el_último_hombre_es.wikipedia.org_all-ac...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
145062,Francisco_el_matemático_(serie_de_televisión_d...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
import pandas as pd

# This regex:
#   (?P<Title>.+)     => Captures everything (including underscores) as the Title (greedy)
#   _(?P<Project>[^_]+)  => Captures the Project field (no underscores)
#   _(?P<Access>[^_]+)   => Captures the Access field
#   _(?P<Agent>[^_]+)$   => Captures the Agent field at the end
pattern = r'^(?P<Title>.+)_(?P<Project>[^_]+)_(?P<Access>[^_]+)_(?P<Agent>[^_]+)$'

data[['Title', 'Project', 'Access', 'Agent']] = data['Page'].str.extract(pattern)
display(data)

,Page,2015-07-01,2015-07-02,2015-07-03,2015-07-04,2015-07-05,2015-07-06,2015-07-07,2015-07-08,2015-07-09,...,2016-12-26,2016-12-27,2016-12-28,2016-12-29,2016-12-30,2016-12-31,Title,Project,Access,Agent
0,2NE1_zh.wikipedia.org_all-access_spider,18.0,11.0,5.0,13.0,14.0,9.0,9.0,22.0,26.0,...,14.0,20.0,22.0,19.0,18.0,20.0,2NE1,zh.wikipedia.org,all-access,spider
1,2PM_zh.wikipedia.org_all-access_spider,11.0,14.0,15.0,18.0,11.0,13.0,22.0,11.0,10.0,...,9.0,30.0,52.0,45.0,26.0,20.0,2PM,zh.wikipedia.org,all-access,spider
2,3C_zh.wikipedia.org_all-access_spider,1.0,0.0,1.0,1.0,0.0,4.0,0.0,3.0,4.0,...,4.0,4.0,6.0,3.0,4.0,17.0,3C,zh.wikipedia.org,all-access,spider
3,4minute_zh.wikipedia.org_all-access_spider,35.0,13.0,10.0,94.0,4.0,26.0,14.0,9.0,11.0,...,16.0,11.0,17.0,19.0,10.0,11.0,4minute,zh.wikipedia.org,all-access,spider
4,52_Hz_I_Love_You_zh.wikipedia.org_all-access_s...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.0,11.0,27.0,13.0,36.0,10.0,52_Hz_I_Love_You,zh.wikipedia.org,all-access,spider
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145058,Underworld_(serie_de_películas)_es.wikipedia.o...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,13.0,12.0,13.0,3.0,5.0,10.0,Underworld_(serie_de_películas),es.wikipedia.org,all-access,spider
145059,Resident_Evil:_Capítulo_Final_es.wikipedia.org...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Resident_Evil:_Capítulo_Final,es.wikipedia.org,all-access,spider
145060,Enamorándome_de_Ramón_es.wikipedia.org_all-acc...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Enamorándome_de_Ramón,es.wikipedia.org,all-access,spider
145061,Hasta_el_último_hombre_es.wikipedia.org_all-ac...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Hasta_el_último_hombre,es.wikipedia.org,all-access,spider
145062,Francisco_el_matemático_(serie_de_televisión_d...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Francisco_el_matemático_(serie_de_televisión_d...,es.wikipedia.org,all-access,spider

In [7]:
# Identify rows where the extraction failed (any NaN in the new columns)
problem_rows = data[data[['Title', 'Project', 'Access', 'Agent']].isnull().any(axis=1)]
print(problem_rows)
# drop page column and reorder columns to have the new columns first
data = data.drop(columns=['Title'])
data['Title'] = data['Page']
data = data.drop(columns=['Page'])
display(data)

Empty DataFrame
Columns: [Page, 2015-07-01, 2015-07-02, 2015-07-03, 2015-07-04, 2015-07-05, 2015-07-06, 2015-07-07, 2015-07-08, 2015-07-09, 2015-07-10, 2015-07-11, 2015-07-12, 2015-07-13, 2015-07-14, 2015-07-15, 2015-07-16, 2015-07-17, 2015-07-18, 2015-07-19, 2015-07-20, 2015-07-21, 2015-07-22, 2015-07-23, 2015-07-24, 2015-07-25, 2015-07-26, 2015-07-27, 2015-07-28, 2015-07-29, 2015-07-30, 2015-07-31, 2015-08-01, 2015-08-02, 2015-08-03, 2015-08-04, 2015-08-05, 2015-08-06, 2015-08-07, 2015-08-08, 2015-08-09, 2015-08-10, 2015-08-11, 2015-08-12, 2015-08-13, 2015-08-14, 2015-08-15, 2015-08-16, 2015-08-17, 2015-08-18, 2015-08-19, 2015-08-20, 2015-08-21, 2015-08-22, 2015-08-23, 2015-08-24, 2015-08-25, 2015-08-26, 2015-08-27, 2015-08-28, 2015-08-29, 2015-08-30, 2015-08-31, 2015-09-01, 2015-09-02, 2015-09-03, 2015-09-04, 2015-09-05, 2015-09-06, 2015-09-07, 2015-09-08, 2015-09-09, 2015-09-10, 2015-09-11, 2015-09-12, 2015-09-13, 2015-09-14, 2015-09-15, 2015-09-16, 2015-09-17, 2015-09-18, 2015-09-19, 2015-09-20, 2015-09-21, 2015-09-22, 2015-09-23, 2015-09-24, 2015-09-25, 2015-09-26, 2015-09-27, 2015-09-28, 2015-09-29, 2015-09-30, 2015-10-01, 2015-10-02, 2015-10-03, 2015-10-04, 2015-10-05, 2015-10-06, 2015-10-07, ...]
Index: []

[0 rows x 555 columns]

,2015-07-01,2015-07-02,2015-07-03,2015-07-04,2015-07-05,2015-07-06,2015-07-07,2015-07-08,2015-07-09,2015-07-10,...,2016-12-26,2016-12-27,2016-12-28,2016-12-29,2016-12-30,2016-12-31,Project,Access,Agent,Title
0,18.0,11.0,5.0,13.0,14.0,9.0,9.0,22.0,26.0,24.0,...,14.0,20.0,22.0,19.0,18.0,20.0,zh.wikipedia.org,all-access,spider,2NE1_zh.wikipedia.org_all-access_spider
1,11.0,14.0,15.0,18.0,11.0,13.0,22.0,11.0,10.0,4.0,...,9.0,30.0,52.0,45.0,26.0,20.0,zh.wikipedia.org,all-access,spider,2PM_zh.wikipedia.org_all-access_spider
2,1.0,0.0,1.0,1.0,0.0,4.0,0.0,3.0,4.0,4.0,...,4.0,4.0,6.0,3.0,4.0,17.0,zh.wikipedia.org,all-access,spider,3C_zh.wikipedia.org_all-access_spider
3,35.0,13.0,10.0,94.0,4.0,26.0,14.0,9.0,11.0,16.0,...,16.0,11.0,17.0,19.0,10.0,11.0,zh.wikipedia.org,all-access,spider,4minute_zh.wikipedia.org_all-access_spider
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.0,11.0,27.0,13.0,36.0,10.0,zh.wikipedia.org,all-access,spider,52_Hz_I_Love_You_zh.wikipedia.org_all-access_s...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145058,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,13.0,12.0,13.0,3.0,5.0,10.0,es.wikipedia.org,all-access,spider,Underworld_(serie_de_películas)_es.wikipedia.o...
145059,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,es.wikipedia.org,all-access,spider,Resident_Evil:_Capítulo_Final_es.wikipedia.org...
145060,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,es.wikipedia.org,all-access,spider,Enamorándome_de_Ramón_es.wikipedia.org_all-acc...
145061,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,es.wikipedia.org,all-access,spider,Hasta_el_último_hombre_es.wikipedia.org_all-ac...
145062,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,es.wikipedia.org,all-access,spider,Francisco_el_matemático_(serie_de_televisión_d...

In [ ]:
# Extract the country code from the Project column
data['CountryCode'] = data['Project'].str.extract(r'^(.*?)\.wikipedia\.org$', expand=False)

# Assign a unique numeric value to each country code (starting at 1)
data['Project_numeric'] = pd.factorize(data['CountryCode'])[0] + 1

data.drop(columns=['CountryCode'], inplace=True)

In [ ]:
display(data[['Project' , 'Project_numeric']])
data = data.drop(columns=['Project'])

                 Project  Project_numeric
0       zh.wikipedia.org                1
1       zh.wikipedia.org                1
2       zh.wikipedia.org                1
3       zh.wikipedia.org                1
4       zh.wikipedia.org                1
...                  ...              ...
145058  es.wikipedia.org                7
145059  es.wikipedia.org                7
145060  es.wikipedia.org                7
145061  es.wikipedia.org                7
145062  es.wikipedia.org                7

[145063 rows x 2 columns]

In [ ]:
# Factorize the 'Access' column to assign each unique string a numeric value starting at 1
data['Access_numeric'] = pd.factorize(data['Access'])[0] + 1

# Display the first few rows to verify the changes
display(data[['Access', 'Access_numeric']].head())

data = data.drop(columns=['Access'])

       Access  Access_numeric
0  all-access               1
1  all-access               1
2  all-access               1
3  all-access               1
4  all-access               1

In [ ]:
# same for Agent
data['Agent_numeric'] = pd.factorize(data['Agent'])[0] + 1

# Display the first few rows to verify the changes
display(data[['Agent', 'Agent_numeric']].head())

data = data.drop(columns=['Agent'])
display(data)

    Agent  Agent_numeric
0  spider              1
1  spider              1
2  spider              1
3  spider              1
4  spider              1

,2015-07-01,2015-07-02,2015-07-03,2015-07-04,2015-07-05,2015-07-06,2015-07-07,2015-07-08,2015-07-09,2015-07-10,...,2016-12-26,2016-12-27,2016-12-28,2016-12-29,2016-12-30,2016-12-31,Title,Project_numeric,Access_numeric,Agent_numeric
0,18.0,11.0,5.0,13.0,14.0,9.0,9.0,22.0,26.0,24.0,...,14.0,20.0,22.0,19.0,18.0,20.0,2NE1_zh.wikipedia.org_all-access_spider,1,1,1
1,11.0,14.0,15.0,18.0,11.0,13.0,22.0,11.0,10.0,4.0,...,9.0,30.0,52.0,45.0,26.0,20.0,2PM_zh.wikipedia.org_all-access_spider,1,1,1
2,1.0,0.0,1.0,1.0,0.0,4.0,0.0,3.0,4.0,4.0,...,4.0,4.0,6.0,3.0,4.0,17.0,3C_zh.wikipedia.org_all-access_spider,1,1,1
3,35.0,13.0,10.0,94.0,4.0,26.0,14.0,9.0,11.0,16.0,...,16.0,11.0,17.0,19.0,10.0,11.0,4minute_zh.wikipedia.org_all-access_spider,1,1,1
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.0,11.0,27.0,13.0,36.0,10.0,52_Hz_I_Love_You_zh.wikipedia.org_all-access_s...,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145058,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,13.0,12.0,13.0,3.0,5.0,10.0,Underworld_(serie_de_películas)_es.wikipedia.o...,7,1,1
145059,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Resident_Evil:_Capítulo_Final_es.wikipedia.org...,7,1,1
145060,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Enamorándome_de_Ramón_es.wikipedia.org_all-acc...,7,1,1
145061,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Hasta_el_último_hombre_es.wikipedia.org_all-ac...,7,1,1
145062,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Francisco_el_matemático_(serie_de_televisión_d...,7,1,1

In [ ]:
import pandas as pd

# Define the date columns 
date_columns = data.columns[:-4]  # Assuming last 4 columns are Title, Project, Project_numeric, etc.

# Melt the dataframe to transform it into long format i.e. one row per Date-Pageview combo
df_long = data.melt(id_vars=['Title', 'Project_numeric', 'Access_numeric', 'Agent_numeric'],
                  value_vars=date_columns, var_name='Date', value_name='Views')  # Renamed 'Pageviews' to 'Views'

# Convert Date column to datetime format
df_long['Date'] = pd.to_datetime(df_long['Date'])

# Drop any rows where Views are NaN (optional, depending on your needs)
df_long.dropna(subset=['Views'], inplace=True)

# Reset index after melting
df_long.reset_index(drop=True, inplace=True)

# Display the first few rows
print(df_long.head())

                                        Title  Project_numeric  \
0     2NE1_zh.wikipedia.org_all-access_spider                1
1      2PM_zh.wikipedia.org_all-access_spider                1
2       3C_zh.wikipedia.org_all-access_spider                1
3  4minute_zh.wikipedia.org_all-access_spider                1
4     5566_zh.wikipedia.org_all-access_spider                1

   Access_numeric  Agent_numeric       Date  Views
0               1              1 2015-07-01   18.0
1               1              1 2015-07-01   11.0
2               1              1 2015-07-01    1.0
3               1              1 2015-07-01   35.0
4               1              1 2015-07-01   12.0

In [ ]:
# import scalar so we can normalize the data
from sklearn.preprocessing import MinMaxScaler
# Ensure 'Views' column is numeric
df_long['Views'] = pd.to_numeric(df_long['Views'], errors='coerce')

# Sort the data by Date
df_long.sort_values(by=['Date'], inplace=True)


# create date features
df_long['dayofweek'] = df_long['Date'].dt.dayofweek
df_long['dayofmonth'] = df_long['Date'].dt.day
df_long['dayofyear'] = df_long['Date'].dt.dayofyear
df_long['month'] = df_long['Date'].dt.month
df_long['year'] = df_long['Date'].dt.year


seq_length = 7

def sliding_windows(data, seq_length):
    x = []
    y = []
    # iterate over every Title and create sliding windows for every Title
    features = ['Project_numeric', 'Access_numeric', 'Agent_numeric', 'dayofweek', 'dayofmonth', 'dayofyear', 'month', 'year']
    Titles = data['Title'].unique()
    for Title in Titles:
        data_title = data[data['Title'] == Title]
        # sort the data by Date
        data_title.sort_values(by=['Date'], inplace=True)
        # reset index
        data_title.reset_index(drop=True, inplace=True)
        for i in range(len(data_title)-seq_length-1):
            _x = data_title[features].iloc[i:(i+seq_length)].values
            _y = data_title['Views'].iloc[i+seq_length]
            x.append(_x)
            y.append(_y)

    return np.array(x),np.array(y)



# Define train-test split date
split_date = '2016-06-01'
train = df_long[df_long['Date'] < split_date]
test = df_long[df_long['Date'] >= split_date]

,Title,Project_numeric,Access_numeric,Agent_numeric,Date,Views,lag1,lag2,lag3,lag4,lag5,lag6,lag7,dayofweek,dayofmonth,dayofyear,month,year
954046,"Маяковский,_Владимир_Владимирович_ru.wikipedia...",4,1,2,2015-07-08,2343.0,1272.0,1163.0,1324.0,2237.0,2179.0,5938.0,1193.0,2,8,189,7,2015
954061,"Гафт,_Валентин_Иосифович_ru.wikipedia.org_all-...",4,1,2,2015-07-08,475.0,572.0,929.0,1121.0,4594.0,586.0,486.0,482.0,2,8,189,7,2015
954059,"Диас,_Ник_ru.wikipedia.org_all-access_all-agents",4,1,2,2015-07-08,105.0,70.0,77.0,106.0,82.0,115.0,94.0,77.0,2,8,189,7,2015
954060,"Танич,_Михаил_Исаевич_ru.wikipedia.org_all-acc...",4,1,2,2015-07-08,171.0,171.0,170.0,133.0,251.0,512.0,144.0,147.0,2,8,189,7,2015
954062,"Цекало,_Александр_Евгеньевич_ru.wikipedia.org_...",4,1,2,2015-07-08,554.0,475.0,425.0,517.0,651.0,468.0,450.0,531.0,2,8,189,7,2015

In [ ]:
del df_long
del data

# Select features and target
features = ['Project_numeric', 'Access_numeric', 'Agent_numeric', 'lag1', 'lag2', 'lag3', 'lag4', 'lag5', 'lag6', 'lag7', 'dayofweek', 'dayofmonth', 'dayofyear', 'month', 'year']

target = 'Views'  




X_train, y_train = train[features], train[target]
X_test, y_test = test[features], test[target]
# normalize X with min max scaler apparently normalizing y is problematic for 
# Xgboost and other tree based models
scaler = MinMaxScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)


print("Training data shape:", X_train.shape, y_train.shape)
print("Testing data shape:", X_test.shape, y_test.shape)

Training data shape: (42824617, 15) (42824617,)
Testing data shape: (29757001, 15) (29757001,)